@charset "utf-8";
/* 1. Import the initial variables */
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

/* 2. Import application variables */
@import "~/scss/variables.scss";

/* 3. Import the rest of Bulma */
@import "~bulma";

html {
  overflow: auto;
  /*
    To remove the 300-350ms tap delay
    https://developers.google.com/web/updates/2013/12/300ms-tap-delay-gone-away
  */
  touch-action: manipulation;
}

body,
html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  color: #5F697A;
  font-family: "Open Sans", open-sans, sans-serif;
  overflow: auto;
}

/* svg-icon styles added here to avoid blinking after component styles loaded */
.svg-icon {
  display: inline-flex;
  align-self: center;
  position: relative;
  height: 1em;
  width: 1em;

  .svg-shape-icon {
    position: absolute;
    bottom: -0.125em;
    height: 1em;
    width: 1em;
  }
}

/* Styles for selected text */
::selection {
  background-color: #F2C500;
  color: #F6F7F7;
  text-shadow: none;
}

.app {
  min-height: 100vh;

  .app-wrapper {
    position: relative;
    top: 0;
    height: calc(100vh - 50px);

    .app-content {
      /*background: hsla(240, 7%, 81%, 0.15);*/
      overflow: auto;
      max-height: 100%;
      height: 100%;

      position: relative;
      float: right;
      width: 100%;
      min-height: 100%;

      /* TODO encapsulation in specific separate component */
      .slide-fade-enter-active {
        transition: opacity 0.5s ease;
      }

      .slide-fade-leave-active {
        transition: opacity 0.5s ease;
      }

      .slide-fade-enter,
      .slide-fade-leave-to {
        transform: translateY(-10px);
        opacity: 0;
      }

      /* Div table styles */
      .div-table {
        display: flex;
        flex-direction: column;
        width: 100%;
        border: 1px solid #CCCCCC;

        .table-body {
          overflow: auto;
        }

        .row {
          border: 0 solid #CCCCCC;
          border-top-width: 1px;
          padding: 0.15em 0 0.15em 0;
          cursor: pointer;

          &.is-gapless {
            margin: 0;
          }

          &.selected {
            background-color: $selected-row;
          }

          &:not(.selected) {
            &:hover {
              background-color: #F0F9FF;
            }
          }

          &.header-row {
            background-image: linear-gradient(#EEEEEE, #E0E0E0);
            background-color: #DDDDDD;
            background: linear-gradient(to bottom, #FFFFFF, #BBBBBB);
            /*background-image: linear-gradient(to bottom, #FFFFFF, #BBBBBB);*/
            border: 0;
            flex-shrink: 0;
            /*padding: 0 20px 0 0;*//* scrollbar width shift */
            padding: 0;
            user-select: none;

            .cell {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              border-left: 1px solid #FFFFFF;
              border-right: 1px solid #CCCCCC;
              height: 40px;

              &:first-of-type {
                border-left: 0;
              }

              &:last-of-type {
                border-right: 0;
              }
            }
          }

        }

        &.striped {

          .row {

            &:not(.selected) {

              &:not(:hover) {

                &:nth-of-type(odd) {
                  background-color: #FAFAFA;
                }
              }
            }
          }
        }
      }
    }
  }
}