/* 1. Import the initial bulma variables */
@import "../../node_modules/bulma/sass/utilities/initial-variables";

/* 2. Import the derived bulma variables // global variables with values that reference other variables, or are computed */
@import "../../node_modules/bulma/sass/utilities/derived-variables";

/* 3. Import bulma components specific variables */
@import "../../node_modules/bulma/sass/components/dropdown";


// 1. Initial variables


//Colors
$header-background: #363636;
$gray: #868E96;
$selected-row: #E6F3FF;/*#D4FFD4 #00D1B2; $table-row-active-background-color*/
$light-red: #F92672