<template>
  <section class="app-header clear-all">
    <div class="app-brand clear-all">
      <div class="logo">
        <p
          href="/"
          tabindex="-1">
          ScrapeFitNews (SFC)
        </p>
      </div>
      <div class="version">
        <div class="version-number">
          0.0.1
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import constants from "~/constants";

export default {
  data() {
    return {
      isAppAboutModalOpen: false
    };
  },

  computed: {
    version() {
      return constants.APP_VERSION;
    }
  }
};
</script>

<style lang="scss">
@import "../../scss/variables";

.app-header {
  background-color: $header-background;
  color: #FFFFFF;
  display: flex;
  height: 50px;

  .app-brand {
    position: relative;
    transition: 0.3s height;

    .logo {
      cursor: pointer;
      margin-top: 5px;
      font-weight: bold;
      color: #FFFFFF;
      font-size: 20px;
      text-align: center;
      float: left;

      > p {
        display: block;
        text-decoration: none;
        height: 40px;
        width: 250px;
        outline: none;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin: 5px 15px 5px 5px;

        /*&:focus {
          outline: none;
        }*/
      }
    }

    .version {
      float: right;
      margin-top: 17px;
      font-size: 12px;
      cursor: pointer;
    }
  }
}
</style>