<template>
  <section class="main-page">
    <h1 class="title has-text-centered"> Last News </h1>
    <loading-spinner v-if="$apollo.queries.getNews.loading"/>
    <div
      v-else
      class="column">
      <div
        v-for="(news, index) in getNews"
        :key="index + '/' + news.link"
        class="row link-row">
        <a> {{ index + 1 }}. {{ news.title }} </a>
        <h4> Category: {{ news.type }} </h4>
        <p> {{ news.link }} </p>
        <p> {{ news.description }} </p>
        <h4 v-if="news.suggestion"> {{ news.suggestion === "like" ? "You gonna like this article!" :
        "Probably you won't be interested in it..." }} </h4>
        <img
          class="like"
          src="like.png"
          alt="like"
          @click="onLikeClick(news)">
        <img
          class="dislike"
          src="dislike.png"
          alt="dislike"
          @click="onDislikeClick(news)">
      </div>
    </div>
  </section>
</template>

<script>
import stateUrlMixin from "~/mixins/stateUrl";
import helpers from "~/utils/helpers";
import search from "~/components/common/search.vue";
import loadingSpinner from "~/components/common/loading-spinner";
import GET_NEWS from "~/graphql/getNews.gql";
import LIKE_DISLIKE_ARTICLE from "~/graphql/likeDislikeNews.gql";

export default {
  components: {
    "loading-spinner": loadingSpinner,
    "search": search
  },

  apollo: {
    getNews: GET_NEWS
  },

  mixins: [
    stateUrlMixin
  ],

  data() {
    return {
      isLoading: false
    };
  },

  async asyncData({route, error/*, store*/}) {
    try {
      const defaultState = {
        search: ""
      };
      const urlState = stateUrlMixin.methods.getState(route.query);
      const state = helpers.mergeDeep({}, defaultState, urlState);

      return {
        defaultState: defaultState,
        state: state
      };
    } catch (catchedAsyncDataError) {
      error(catchedAsyncDataError);// Call error page render function
      // Error object passed to /layout/error.vue component section
      // Default nuxtErrorPage layout: node_modules/@nuxtjs/youch/src/resources/error.mustache
    }
  },

  methods: {
    updateState(newState) {
      const me = this;
      const state = helpers.mergeDeep(me.state, newState);
      me.setState(state, me.defaultState);
      return state;
    },

    onLikeClick(article) {
      delete article.__typename;
      this.$apollo.mutate({
        mutation: LIKE_DISLIKE_ARTICLE,
        variables: {
          article: Object.assign(article, { status: true })
        }
      }).then(
        () => {
          this.$apollo.queries.getNews.refetch();
        }
      ).catch(
        (err) => {
          alert(err);
        }
      );
    },

    onDislikeClick(article) {
      delete article.__typename;
      this.$apollo.mutate({
        mutation: LIKE_DISLIKE_ARTICLE,
        variables: {
          article: Object.assign(article, { status: false })
        }
      }).then(
        () => {
          this.$apollo.queries.getNews.refetch();
        }
      ).catch(
        (err) => {
          alert(err);
        }
      );
    },
  }
};
</script>

<style lang="scss">
@import "../scss/variables";

.main-page {
  font-size: 1em;
  margin: 2rem;

  .link-row {
    border: 1px solid #000000;
    padding: 2rem;
    margin: 1rem 0;
    border-radius: 10px;
    position: relative;

    .like {
      position: absolute;
      top: 2.5rem;
      right: 2rem;
      width: 50px;
      height: 50px;
      cursor: pointer;
    }

    .dislike {
      position: absolute;
      top: 2.5rem;
      right: calc(4rem + 50px);
      width: 50px;
      height: 50px;
      cursor: pointer;
    }
  }
}
</style>