<template>
  <div
    class="search-component">
    <input
      v-model="searchPattern"
      type="text"
      placeholder="Search..."
      @keyup.enter="onSearch"
      @input="onInputSearch($event.target.value)">
    <span
      class="icon"
      @click="onSearch">
      <svg-icon icon="search"/>
    </span>
  </div>
</template>


<script>
import svgIcon from "~/components/common/svg-icon.vue";
export default {
  components: {
    "svg-icon": svgIcon
  },

  data() {
    return {
      searchPattern: ""
    };
  },

  mounted() {
    const me = this;
    const search = me.$route.query.search;
    if (search) {
      me.searchPattern = search;
    }
  },

  methods: {
    onSearch() {
      const me = this;
      me.$emit("search", me.searchPattern);
    },

    onInputSearch(value) {
      const me = this;
      me.$emit("input", value);
    },
  }
};
</script>

<style lang="scss">
@import "../../scss/variables";

.search-component {
  width: 225px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;

  .icon {
    position: absolute;
    top: 5px;
    right: 10px;
    fill: #FFFFFF;
    z-index: 1;
    cursor: pointer;
  }

  input {
    width: 225px;
    height: 35px;
    border-radius: 25px;
    background: $header-background;
    border: 0;
    font-size: 10pt;
    float: left;
    color: #FFFFFF;
    padding-left: 15px;

    transition: background 0.55s ease;
  }

  input::-webkit-input-placeholder {
    color: #FFFFFF;
  }

  input:active {
    outline: none;
    border: 2px solid $header-background;
    background: #FFFFFF;
    color: #000000;
  }

  input:hover {
    outline: none;
    border: 2px solid $header-background;
    background: #FFFFFF;
    color: #000000;
  }

  input:focus {
    outline: none;
    border: 2px solid $header-background;
    background: #FFFFFF;
    color: #000000;
  }

  input:hover + span {
    fill: #000000;
  }

  input:focus + span {
    fill: #000000;
  }

  input:active ~ span {
    fill: #000000;
  }
}


</style>