<template>
  <div
    :class="icon + '-icon'"
    class="svg-icon"
    @click="onIconClick($event)">
    <svg>
      <use :xlink:href="iconXlink"/>
    </svg>
  </div>
</template>

<script>
export default {
  props: {
    icon: {
      type: String,
      required: true
      // todo add strong validation to add only available icons
    }
  },

  computed: {
    iconXlink() {
      const me = this;
      return "#shape-" + me.icon;
    }
  },

  methods: {
    onIconClick($event) {
      const me = this;
      me.$emit("click", $event);
    }
  }
};

</script>

<style lang="scss">
.svg-icon {
  display: inline-flex;
  align-self: center;
  position: relative;
  height: 1em;
  width: 1em;

  .svg-shape-icon {
    position: absolute;
    bottom: -0.125em;
    height: 1em;
    width: 1em;
  }
}
</style>